body {
  display: flex;
}
.dropdownMenu {
  width: 250px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.dropdownMenu .dropdownItem[display='none'] {
  transition: 0.2s ease-out;
}

.dropdownMenu .dropdownItem,
.dropdownTitle {
  display: block;
  background-color: rgb(23, 99, 157);
  color: white;
  border: none;
  padding: 30px;
  text-decoration: inherit;
  font-size: 24px;
  font-family: sans-serif;
}

.dropdownTitle {
  background-color: darkcyan;
}

.dropdownTitle:after {
  background: url('./dropdown-icon.svg');
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 0 0 5px;
}

.dropdownMenu .dropdownItem:hover {
  background-color: rgb(10, 39, 62);
}
